package templates

templ Error(message string) {
	<div class="hero bg-base-200 min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">We're sorry,</h1>
				<p class="py-6">
					{ message }
				</p>
				<a role="button" class="btn btn-primary" href="/">Return Home</a>
			</div>
		</div>
	</div>
}
